/*
firts: rgba(105, 105, 105, .6)
second: rgba(128, 128, 128, .6)
*/

body {
    background-image: url('background.jpg');
    background-attachment: fixed;
    margin: 0 0 0 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body > header {
    width: 100%;
    background-color: rgba(128, 128, 128, .6);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header > img {
    padding: 15px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

header > h1 {
    text-align: center;
    padding: 0 15px 15px 15px;
}

body > nav {
    background-color: rgba(105, 105, 105, .6);
    backdrop-filter: blur(5px);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 30px;
}

nav > a, span {
    text-decoration: none;
    color: black;
    padding: 10px;
    animation-name: nohouver;
    animation-duration: .2s;
}

nav > a:hover {
    text-decoration: none;
    background-color: rgba(128, 128, 128, .6);
    color: black;
    animation-name: houver;
    animation-duration: .2s;
    padding: 10px 30px;
}

.logo {
    position: absolute;
    left: 30px;
}

body > main {
    backdrop-filter: blur(5px);
    background-color: rgba(128, 128, 128, .6);
    width: 100%;
    height: 100%;
}

body > footer {
    backdrop-filter: blur(5px);
    background-color: rgba(105, 105, 105, .6);
    width: 100%;
    height: 200px;
}