/*
firts: #696969
second: #808080
*/


body {
    margin: 0 0 0 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body > nav {
    background-color: #696969;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav > a, label {
    text-decoration: none;
    color: black;
    padding: 10px;
    animation-name: nohouver;
    animation-duration: .2s;
}

nav > a:hover {
    text-decoration: none;
    background-color: #808080;
    color: black;
    animation-name: houver;
    animation-duration: .2s;
    padding: 10px 30px;
}

.logo {
    position: absolute;
    left: 30px;
}

body > main {
    background-color: #808080;
    width: 100%;
    height: 100%;
}

body > footer {
    background-color: #696969;
    width: 100%;
    height: 200px;
}